@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default styles for h1 and h2 elements */
h1,
h2 {
    @apply text-[#6b4f3c] font-bold; /* Apply the desired color and font weight */
}
